<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample HTML Page</title>
</head>
<body>
    Say Something to Student helper bot
    Response format is "[<entity_name>,<entity_value>]"
    <div>
        <form method="POST" action="/">
        <input type="text" name="text">
            <button type="submit" name="button" value="client_msged">Click me</button>
        {% for ele in my_list %}
            <p>{{ele}}</p>
            {% endfor %}
        </form>

    </div>
</body>
</html>